body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0px;
}

div.headerBar {
    border-bottom: 1px solid rgb(77, 77, 77);
    background-color: rgb(37, 37, 37);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

div.headerBar h1 {
    font-weight: bold;
    margin: 0;
    margin-right: 30px;
    display:inline-block;
}

div.headerBar a {
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
    display:inline-block;
    text-decoration: none;
}

div.headerBar a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
  }

div.content {
    padding: 10px;
}

div.previewBox {
    float: left;
}

.blueprintBox {
    border: 2px solid rgb(235, 235, 235);
    background-image: url("b.svg");
    background-color: rgb(95, 95, 146);
    color: white;
    margin: 5px;
    padding: 3px;
    float: left;
}

.blueprintButton {
    position: relative;
    vertical-align: top;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    border: dashed 1px white;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#blueprint {
    padding: 0px;
    overflow: hidden;
    background: transparent;
    height: 100px;
    margin: 0px;
    border: dashed 1px white;
    color: white;
    vertical-align: top;
}

.blueprintButton:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.itemCheckboxGroup {
    width: 250px;
    display: inline-block;
    padding: 0px 5px
}

.preview {
    border: 1px solid rgb(97, 97, 97);
    background: rgb(236, 236, 236)
}

.settingsBox{
    display: inline-block;
}

.colorBox {
    width: 15px;
    height: 15px;
    float: left
}

.countBox {
    float: right;
    font-weight: bold;
}

.slider {
    width: 250px;
}

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: rgb(77, 77, 77); 
    color: white; 
    text-align: center; 
    border-radius: 3px; 
    padding: 8px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
